.relish-app {
  padding: 1rem;
}

.relish-app__filters-container:not(:last-child) {
  margin-bottom: 1rem;
}

.relish-app__photos-container {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  gap: 3rem 2rem;
}
